.footer__top {
  background-image: url(/src/assets/images/footer.png);
  background-position: top;
  background-size: cover;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__left {
  width: 304px;
}

.footer__left--icons .icons__icon {
  background-color: #ffffff;
  color: #3a3d43;
  padding: 8px;
  border-radius: 100%;
  font-size: 20px;
}

.footer__right {
  display: flex;
  gap: 80px;
}

.footer__right--links h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 32px;
}

.footer__right--links h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 16px;
  cursor: pointer;
}

.footer__bottom {
  background: #f9f9ff;
  padding: 32px 164px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__bottom--conditions {
  color: #7c7d82;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer__bottom--logo {
  display: flex;
  align-items: center;
}

.footer__bottom--logo__icon {
  position: absolute;
  right: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  color: #7c7d82;
  padding: 10px;
  border-radius: 100%;
}

@media (width <= 992px) {
  .footer__top {
    flex-direction: column;
    align-items: start;
    padding: 5rem;
    gap: 50px;
  }

  .footer__bottom {
    padding: 32px 94px;
  }
}

@media (width <= 576px) {
  .footer__top {
    height: auto;
    padding: 50px;
  }

  .footer__left {
    width: auto;
  }

  .footer__right {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .footer__right--links h1 {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 12px;
  }

  .footer__right--links h2 {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 8px;
  }

  .footer__bottom {
    padding: 32px 20px;
    justify-content: space-around;
  }

  .footer__bottom--conditions {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__bottom--logo img {
    height: 30px;
    width: 100px;
  }

  .footer__bottom--logo__icon {
    right: 20px;
  }
}
