.news {
  padding: 80px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news__heading {
  color: #24272e;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.news__para {
  padding: 32px 80px 32px;
  color: #667085;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.news__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.news__card {
  width: 357px;
  height: 460px;
  background-color: #f9f9ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  cursor: pointer;
}

.news__card--image {
  height: 201px;
  width: 315px;
}

.news__card--image img {
  object-fit: cover;
  height: 100%;
  border-radius: 16px;
}

.text--heading {
  color: #24272e;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-top: 24px;
}

.text--para {
  color: #505258;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.text--button {
  color: #1d6fa3;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 17px;
}

.text--button:hover {
  text-decoration: underline;
}

.news__card--button {
  margin-top: 32px;
  border: 1px solid #1d6fa3;
  transition: all 0.2s ease-in-out;
}

.news__card--button:hover {
  background-color: #1d6fa3;
  color: white;
}

.resources {
  padding: 80px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9ff;
}

.resources__heading {
  color: #24272e;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.resources__para {
  padding: 32px 80px 32px;
  color: #667085;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.resources__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 26px;
}

.resources__card {
  background-color: #fff;
  border-radius: 20px;
  padding: 36px 29px 18px;
  width: 352.913px;
  height: 337.45px;
}

.resources__card--icon {
  display: flex;
  align-items: center;
  gap: 8.6px;
}

.resources--icon1,
.resources--icon2,
.resources--icon3 {
  width: 65.489px;
  height: 65.585px;
  border-radius: 18.191px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources--icon1 {
  color: #a276ff;
  background-color: #f8f1ff;
}

.resources--icon2 {
  color: #7291ff;
  background-color: #f3f6ff;
}

.resources--icon3 {
  color: #ff5400;
  background-color: #fae6e0;
}

.resources__card--icon h1 {
  color: #66686d;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.resources__card--heading {
  color: #24272e;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding: 22px 0 12px;
}

.resources__card--para {
  color: #7c7d82;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.resources__card--button {
  color: #1d6fa3;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 51px;
}

.resources__card--button:hover {
  text-decoration: underline;
}

.resources__button {
  margin-top: 32px;
  padding: 10px 16px;
  border: 1px solid #1d6fa3;
  transition: all 0.2s ease-in-out;
}

.resources__button:hover {
  background-color: #1d6fa3;
  color: white;
}

@media (width <= 1200px) {
  .news__container {
    grid-template-columns: 1fr 1fr;
  }

  .resources {
    padding: 60px 120px;
  }

  .resources__container {
    flex-wrap: wrap;
  }
}

@media (width <= 992px) {
  .news {
    padding: 50px 70px;
  }

  .news__card {
    width: 305px;
    height: 490px;
  }

  .news__card--image {
    height: 201px;
    width: 270px;
  }

  .resources {
    padding: 40px 30px;
  }

  .news__container {
    gap: 20px 50px;
  }
}

@media (width <= 767px) {
  .news__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (width <= 576px) {
  .news {
    padding: 40px 30px;
  }

  .news__heading {
    font-size: 1.6rem;
    line-height: 30px;
  }

  .news__para {
    padding: 25px 20px;
    font-size: 14px;
  }

  .news__container {
    gap: 30px 30px;
  }

  .news__card {
    width: 285px;
    height: 430px;
  }

  .text--heading {
    font-size: 18px;
    line-height: 24px;
  }

  .text--para {
    font-size: 14px;
    line-height: 20px;
  }

  .resources__heading {
    font-size: 1.6rem;
    line-height: 30px;
  }

  .resources__para {
    padding: 25px 20px;
    font-size: 14px;
  }

  .resources__card {
    padding: 30px 25px 16px;
    width: 285px;
    height: 285px;
  }

  .resources__card--heading {
    font-size: 18px;
    line-height: 25px;
  }

  .resources__card--para {
    font-size: 14px;
    line-height: 20px;
  }

  .resources__card--button {
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
  }
}
